.jokesSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.search {
    margin-bottom: 1.5rem;
    color: aliceblue;
    border: 1px solid white;
    padding: 3px;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #30336f;
    width: 100%;

}

.errorMessage {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}