.form {
    width: 90%;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formContainer input,
.formContainer textarea {
    margin-top: 8px;
    border-radius: 10px;
    padding: 3px;
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(255, 255, 255, 0.425);
}

.errorMessage {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}


/* button */
.addBtn {
    margin-top: 18px;
    margin-right: 5px;
    min-width: 45px;
    height: 45px;
    background-color: #313370;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addBtn::before,
.addBtn::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 2px;
}

.addBtn::before {
    width: 24px;
    height: 4px;
}

.addBtn::after {
    width: 4px;
    height: 24px;
}

.addBtn:hover {
    background-color: #4c4fad;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.addBtn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}