.titleEdit {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    border-radius: 15px;
    font-size: 1.6em;
    width: 100%;
    border: 1px solid white;
}

.bodyEdit {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    border-radius: 15px;
    width: 100%;
    font-size: 1.4em;
    border: 1px solid white;
}

.ButtonGroup {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.errorMessage {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}

@media screen and (max-width: 550px) {
    .titleEdit {
        font-size: 1.2em;
    }

    .bodyEdit {
        font-size: 1em;
        white-space: pre-wrap;
    }

}