body {
    margin: 0;
    background: linear-gradient(to right, #111828 0%, #111828 100%);
    color: #ffffff;
    -webkit-tap-highlight-color: transparent
}

* {
    box-sizing: border-box;
}


input,
button,
textarea,
select {
    font-family: inherit;
}