.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 2rem;
    padding-top: 0;
}

@media screen and (min-width: 1400px) {
    .main {
        margin: auto;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .main {
        padding: 0;
    }
}