.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #1a1a1a;
    color: white;
}



@media (max-width: 500px) {
    .navbar {
        padding: 0px 8px;
    }
}